<h1>this is welcome page</h1>
<%= link_to('index', {:action => 'index'}) %> <br>

<%= 2 * 10  %>

<% name ='Muhammed'  %>
<%= "#{name} Essa" %>

<% 5.times do |n| %>

<%= n %>

<% end %>

<% @array.each do |n| %>

<%= n %>

<% end %>