<h1>this is welcome page</h1>
<%= link_to('essa' , {:action => 'essa'})    %>
<%= 2*5   %>  

<%  name = 'Muhammed'   %>  <br>

 <%=   "#{name} Essa "   %>  



 <% 5.times do |n| %>

 <%=    n  %>  <br>
  <%   end %>   <br>


<% @array.each do |n| %>

 <%=    n  %>  <br>
  <%   end %>   
